body, html, input, button {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color:white;
    background-color: black;
    height: 100%;
}
div#main-wrapper h1 {
    color: red;
}

div.song-wrapper {
    border: 1px solid white;
    margin: .5rem 1rem;
}